{% extends "main/layout.html" %}

{% block body %}
    <div class="container-fluid">
        <h1>About</h1>
        <p class="about">This website was made as the final project for the Harvard CS50 Web course. It is a recipe sharing social media type website where users can post recipes,
            like other recipes, follow users and comment on other recipes. The website was made using the Django web framework. Below you can find links to my linkedin as well as my github.
        </p>

        <a href="https://github.com/omarinio">
            <img class="logos" src="media/uploads/git-logo.png" alt="Github logo">
        </a>
        <a href="https://www.linkedin.com/in/omar-suleiman-68a402180">
            <img class="logos" src="media/uploads/linkedin-logo.png" alt="Linkedin logo">
        </a>
    </div>
    
{% endblock %}