{% extends "main/layout.html" %}

{% block body %}
    <div class="container-fluid">
        <h1>About</h1>
        <p class="about">This website was made as the final project for the Harvard CS50 Web course. It is a recipe sharing social media type website where users can post recipes,
            like other recipes, follow users and comment on other recipes. The website was made using the Django web framework 
        </p>

        <p class="about">Nam egestas libero tortor, nec sollicitudin nulla feugiat sit amet. Quisque vehicula vitae nulla eget hendrerit. 
            Curabitur vitae neque molestie, pharetra ipsum maximus, lobortis purus. Suspendisse a erat vulputate, pharetra metus quis, dapibus turpis. 
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque condimentum lacus arcu, et gravida lectus ullamcorper vitae. 
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed tristique turpis sit amet faucibus accumsan. Etiam sed laoreet mi.
            Vestibulum interdum placerat tellus at auctor. Fusce hendrerit orci mauris, id maximus mi ultricies in. Morbi eu felis velit. Aenean non metus sem. Nunc nec erat in lacus lobortis scelerisque. 
            Nulla ut metus congue, consectetur erat eget, convallis urna.</p>

        <a href="https://github.com/omarinio">
            <img class="logos" src="media/uploads/git-logo.png" alt="Github logo">
        </a>
        <a href="https://www.linkedin.com/in/omar-suleiman-68a402180">
            <img class="logos" src="media/uploads/linkedin-logo.png" alt="Linkedin logo">
        </a>
    </div>
    
{% endblock %}