{% extends "main/layout.html" %}

{% block body %}
    <div class="container-fluid">
        <h1>About</h1>
        <p class="about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet dui risus. Suspendisse fringilla massa ultrices, hendrerit orci ac, convallis diam. 
            Quisque eleifend suscipit ante non porttitor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut quis laoreet eros. 
            Pellentesque dapibus id ligula et accumsan. Aliquam mattis nisl sit amet metus faucibus, in sodales ipsum tempor. Nullam in felis non nulla venenatis condimentum nec sit amet ipsum. 
            Praesent porttitor ipsum ut lacus gravida viverra id eu dolor. Donec eget faucibus nunc. In condimentum dui non leo venenatis, sit amet sollicitudin augue porttitor. 
            Quisque ac risus a dui consectetur tincidunt sit amet eget est. Nam tincidunt eleifend rutrum. Curabitur sed sem lectus.</p>

        <p class="about">Nam egestas libero tortor, nec sollicitudin nulla feugiat sit amet. Quisque vehicula vitae nulla eget hendrerit. 
            Curabitur vitae neque molestie, pharetra ipsum maximus, lobortis purus. Suspendisse a erat vulputate, pharetra metus quis, dapibus turpis. 
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque condimentum lacus arcu, et gravida lectus ullamcorper vitae. 
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed tristique turpis sit amet faucibus accumsan. Etiam sed laoreet mi.
            Vestibulum interdum placerat tellus at auctor. Fusce hendrerit orci mauris, id maximus mi ultricies in. Morbi eu felis velit. Aenean non metus sem. Nunc nec erat in lacus lobortis scelerisque. 
            Nulla ut metus congue, consectetur erat eget, convallis urna.</p>

        <a href="https://github.com/omarinio">
            <img class="logos" src="media/uploads/git-logo.png" alt="Github logo">
        </a>
    </div>
    
{% endblock %}