{% extends "main/layout.html" %}

{% block body %}
    <h1 id="all-recipes">All Recipes</h1>
    <div class="container">
        <div class="row">
            {% for recipe in recipes%}
                <div class="col-sm-6 col-lg-4 py-2">
                    <div class="card h-100 recipe-body">
                        <img class="card-img-top recipes-images" src="{{ recipe.picture.url }}" alt="Card image cap">
                        <div class="card-body recipe-body">
                            <h5 class="card-title"><a href="{% url 'recipe' recipe.id %}">{{ recipe.title|title }}</a></h5>
                            <p class="card-text">{{ recipe.body|truncatewords:16 }}</p>
                            <p class="card-text"><a href="#">{{ recipe.user }}</a></p>
                            <p class="card-text"><small class="text-muted">Uploaded: {{ recipe.timestamp }}</small></p>
                        </div>
                        
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}