{% extends "main/layout.html" %}
{% load static %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title" id="recipe-title">{{ recipe.title|title }}</h2>
            <p class="card-text">{{ recipe.description }}</p>
        </div>
        <div>
            <img id="recipe-img" class="recipe-img" src="{{ recipe.picture.url }}" alt="Card image cap">
            <div style="display: inline-block;">
                {% if request.user in recipe.likes.all %}
                    <img src="{% static 'main/filled.png' %}" alt="Like button" class="like-button" data-post_id="{{ recipe.id }}" data-action="unlike" id="liked-{{ recipe.id }}" style="display: block">
                    <img src="{% static 'main/empty.png' %}" alt="Like button" class="like-button" data-post_id="{{ recipe.id }}" data-action="like" id="unliked-{{ recipe.id }}" style="display: none">
                {% else %}
                    <img src="{% static 'main/filled.png' %}" alt="Like button" class="like-button" data-post_id="{{ recipe.id }}" data-action="unlike" id="liked-{{ recipe.id }}" style="display: none">
                    <img src="{% static 'main/empty.png' %}" alt="Like button" class="like-button" data-post_id="{{ recipe.id }}" data-action="like" id="unliked-{{ recipe.id }}" style="display: block"> 
                {% endif %}
                <p style="text-align: center;" id="like-count-{{ recipe.id }}">{{ recipe.likes.count }}</p>
            </div>
        </div>

        <div class="card-body">
            <h4 class="card-title">Ingredients</h4>
            <ul id="ingredient-list">
                {% for ingredient in ingredients %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
            <br>
            <h4 class="card-title">Directions</h4>
            <p>{{ recipe.body|linebreaks }}</p>
        </div>
    </div>

    <div class="card">

        <div class="card-body">
            <h4 class="card-title">Submit a comment:</h4>
            <form id="comment-form" data-recipe="{{ recipe.id }}">
                {% csrf_token %}
                <p style="padding-top: 5px">{{ comment_form }}</p>
                <p><button type="submit" class="btn btn-primary btn-sm">Post Comment</button></p>
            </form>
    
            <h5>Comments</h5>
            <hr>
            <div id="comments-div">
                {% for comment in comments %}
                    <p><b>User:</b><a href="#"> {{ comment.user }}</a> <small class="text-muted">- {{ comment.created_at }}</small></p>
                    <p>{{ comment.comment }}</p>
                
                    <hr>
                {% endfor %}
            </div>
            
        </div>

        
    </div>
    

{% endblock %}

{% block script %}
  <script src="{% static 'main/image-popup.js' %}"></script>
  <script src="{% static 'main/comments.js' %}"></script>
  <script src="{% static 'main/like_recipe.js' %}"></script>
{% endblock %}