{% extends "main/layout.html" %}
{% load static %}

{% block body %}
    <h1 id="all-recipes">Search Results: {{ query }}</h1>
    <div class="search-buttons">
        <button class="btn btn-sm btn-dark" id="recipe-btn">Recipes</button>
        <button class="btn btn-sm btn-dark" id="users-btn">Users</button>
    </div>

    <div class="container" id="recipe-results">
        <div class="row">
            {% for recipe in recipes%}
                <div class="col-sm-6 col-lg-4 py-2">
                    <div class="card h-100 recipe-body">
                        <img class="card-img-top recipes-images" src="{{ recipe.picture.url }}" alt="Card image cap">
                        <div class="card-body recipe-body">
                            <h5 class="card-title"><a href="{% url 'recipe' recipe.id %}">{{ recipe.title|title }}</a></h5>
                            <p class="card-text">{{ recipe.description|truncatewords:16 }}</p>
                            <p class="card-text"><a href="{% url 'user' recipe.user %}">{{ recipe.user }}</a></p>
                            <p class="card-text"><small class="text-muted">Uploaded: {{ recipe.timestamp }}</small></p>
                        </div>
                        
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container" id="user-results">
        <div>
            {% for user in users %}
                <p><a href="{% url 'user' user %}">{{ user.username }}</a></p>
            {% endfor %}
        </div>
    </div>
    
    
{% endblock %}

{% block script %}
    <script src="{% static 'main/search.js' %}"></script>
{% endblock %}