.card-img-bottom {
    max-height: 400px;
}

.recipes-images {
    height: 300px;
}

.card {
    margin: 50px;
    align-self: center;
}

h1 {
    margin: 50px;
}

.about {
    margin: 50px;
    text-align-last: initial;
}

.logos {
    margin-left: 50px;
    max-width: 64px;
    max-height: 64px;
}

.recipe-body {
    width: 300px;
}

.recipe-img {
    max-width: 582px;
    max-height: 582px;
    align-self: flex-start;
}

#all-recipes {
    text-align: center;
}

input, label {
    display: block;
}

#create-form {
    margin: 50px;
}

#follow-button-div {
    margin-left: 50px;
}

#follower-view {
    margin-left: 50px;
    
}

.like-button {
    height: 40px;
    width: 40px;
}

.search-buttons {
    text-align: center;
}