.card-img-bottom {
    max-height: 400px;
}

.card-img-top {
    max-height: 400px;
}

.card {
    margin: 50px;
}

h1 {
    margin: 50px;
}

.about {
    margin: 50px;
    text-align-last: initial;
}

.logos {
    margin-left: 50px;
    max-width: 64px;
    max-height: 64px;
}